{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<div class="jumbotron">
  <h1 class="display-9">Your Favourited Quotes.</h1>
  <p class="lead">Always here for you.</p>
</div>

<div class="d-flex justify-content-between">
    <nav aria-label="page-navigation">
        <ul class="pagination">
            {% if quotes.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ quotes.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled" aria-disabled="true"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in quotes.paginator.page_range %}
                {% if quotes.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                <li class="page-item page-link"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if quotes.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ quotes.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Posts/Page
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for i in max_posts %}
            <a class="dropdown-item" href="?posts={{ i }}&page={{ page }}">{{ i }}</a>
        {% endfor %}
    </div>
  </div>
</div>

<div>
    <ul class="list-group">
        {% for quote in quotes %}
            <li class="list-group-item">
                <div> {{ quote.content }} </div>

                <div class="d-flex justify-content-between">
                    <div> <b> {{ quote.author }} </b> </div>
                    
                    <div class="btn-group" role="group">
                        <form method = "post" action="?page={{ page }}&posts={{ posts }}">
                            {% csrf_token %}
                            <button type="submit" value={{ quote.id }} name="submit_user_favourite" class="btn btn-primary" role="button">Unfavourite </a>
                        </form>
                    </div>
                </div>
        {% endfor %}
            </li>
    </ul>
</div>
{% endblock content %}